* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column nowrap;
  font: 14px "Open Sans", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Bricolage Grotesque", sans-serif;
}

header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: #5af;
  color: #fff;
  text-align: center;
  padding: 1.5rem;
}

#container {
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
}

.displayNone {
  display: none !important;
}
#popup {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
}
.preGamePopup {
  width: 100%;
  height: 100%;
}
/* 
.midGamePopup {
  width: 80%;
  height: 80%;
} */

#popupInner {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  min-height: fit-content;
  background-color: rgb(237, 245, 253);
  border-radius: 25px;
  box-shadow: 0px 0px 20px 10px rgb(131, 161, 198);
}

.preGamePopupInner {
  max-width: 60vw;
  padding: 4rem 10rem;
  margin: 20vh auto;
}

.midGamePopupInner {
  max-width: 45vw;
  padding: 4rem;
  margin: 25vh auto;
}

#rules {
  margin: 0 auto;
  font-size: 1.3rem;
}

#popup h1,
#popupStatement {
  color: #fff;
  font-size: 3rem;
}

#popup h1 {
  text-shadow: 4px 2px #000, 4px 2px #000, 4px 2px #000, 4px 2px #000;
}
#popupInner h2 {
  font-size: 2.5rem;
}

#rules ul {
  text-align: left;
  padding: 1.5rem;
}

button {
  font-size: 1.2rem;
  margin: 1.5rem auto;
  padding: 1rem 1.5rem;
  border-radius: 25px;
  border: 0;
  background-color: rgb(85, 170, 255);
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.2rem;
  box-shadow: 0px 0px 2px 1px rgb(131, 161, 198);
}

.userStats {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  min-width: 20vw;
  padding: 2rem;
}

.userStats h1 {
  padding-bottom: 1rem;
  font-size: 1.8rem;
}

.userStats h2 {
  padding-top: 1rem;
  font-size: 1.3rem;
}

p {
  padding-top: 1rem;
  font-size: 1.714rem;
}

#quiz {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  min-width: 50vw;
  height: fit-content;
  gap: 2.5%;
  padding: 2rem;
}

#quiz h2 {
  padding-top: 2rem;
  min-width: 100%;
}

#quiz p {
  padding-top: 0;
}

#question {
  color: rgb(85, 170, 255);
  padding-bottom: 2rem;
  font-size: 3rem;
  width: 100%;
}

.answerGroup {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  font-size: 2.5rem;
}

.answer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(85, 170, 255, 0.2);
  box-shadow: 0px 0px 10px 10px rgba(85, 170, 255, 0.2);
  height: 250px;
  width: 45%;
  border-radius: 40px;
  margin: 2.5%;
}

.greenShadow {
  box-shadow: 0px 0px 10px 10px rgba(9, 250, 33, 0.4);
}
.redShadow {
  box-shadow: 0px 0px 10px 10px rgba(255, 84, 84, 0.4);
}
